.education {
  max-width: 1200px;
  margin: auto;
  padding: 30px 40px 60px;

  @media (max-width: 1199px) {
    padding: 30px 40px 40px;
  }

  @media (max-width: 767px) {
    padding: 0 15px 20px;
  }
}

.education__title {
  margin: 0 0 30px 30px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 28px;
  color: $color-windsor;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1199px) {
    font-size: 32px;
  }

  @media (max-width: 767px) {
    margin: 0 0 20px 0;
  }
}

.education__data p,
.education__university p,
.education__description p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

.education__data,
.education__university {
  margin: 0 0 15px;
}
